.page-layout {
  padding: 0 24px 24px;
  background: #fff;
}
.country {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.country h2 {
  color: #213869;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.23;
  margin: 0;
}
.flag-avatar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 0 11px;
}
.ant-checkbox-group-item {
  display: block;
}
.ant-menu-item {
  min-height: fit-content;
}
.country-list {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  padding: 0 !important;
  border: none !important;
}
.country-card-full {
  width: 100%;
}
.country-card-half {
  width: 50%;
}
.ant-list-grid {
  width: 100%;
}
.ant-list-pagination {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1200px) {
  .country-card-half {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .page-layout {
    padding-left: 40px;
  }
}
