.footer p {
  margin: 0;
  font-size: 12px;
}
.footer {
  display: flex;
  background-color: #e4e4e4;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
hr {
  width: 98%;
  display: block;
  background-color: #48b9e1;
  height: 3px;
  border: none;
}
